@import "./includes/variables.scss";

@font-face {
	font-family: "Saira Condensed";
	src: url("../assets/SairaCondensed-Light.ttf") format("truetype");
}

* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 960px;
}

body {
	background: var(--color-bg) url(../assets/background.jpg) top center no-repeat;
	background-size: cover;

	font-family: "Saira Condensed";
	color: white;
	font-size: 16px;
}

.content-wrapper {
	margin: 0 auto;
	// margin-top: calc(-1 * var(--row-height));
	width: 940px;
	height: 100%;

	display: grid;
	grid-template-columns: [start] repeat(3, 1fr) [content-start] repeat(9, 1fr) [end];
	column-gap: 20px;
}

@import "./components/button.scss";
@import "./components/main.scss";
@import "./components/sidebar.scss";
@import "./components/clock.scss";
@import "./components/navigation.scss";
@import "./components/dialog.scss";
