@import "../includes/variables.scss";

nav {
	display: flex;
	flex-wrap: wrap;
	margin: calc(-1 * var(--spacing));
}

nav > .icon-button {
	--size: calc(50% - 2*var(--spacing));
	flex: 0 0 var(--size);
	margin: var(--spacing);
	padding-bottom: var(--size);
}
