@import "../includes/variables.scss";

button {
	display: inline-block;
	font-family: inherit;
	line-height: 1;
	border: none;
	padding: var(--spacing);
	margin: 0;
	text-decoration: none;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button:hover:not(.disabled):not(:disabled) {
	filter: brightness(110%) saturate(140%);
}

button:active {
	background-color: rgba(var(--feldgrau), 0.5);
}

.aspect-ratio-hack {
	--ratio: 1;
	height: 0;
	position: relative;
	padding: 0;
	padding-bottom: calc(100% * var(--ratio));
}

.icon-button {
	width: var(--size, 100%);
	max-width: 120px;
	padding: 0;
	overflow: hidden;

	& .child {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding: var(--padding, var(--spacing));

		display: flex;
		flex-flow: column nowrap;

		& > .icon {
			flex: 2 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			// margin-top: calc(-1 * var(--spacing));
		}
		& > .label {
			flex: 0 1 auto;
			text-align: center;
			word-wrap: break-word;
			line-height: 1;
		}
	}

	// Variants:
	background-color: var(--color-bg_alpha_stacked);
	color: white;

	&.active:not(:active) {
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.85);
		background-color: var(--color-green_alpha);
		& .icon {
			color: white;
			filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.85));
		}
	}

	&.inactive:not(:active),
	&:disabled:not(:active) {
		background-color: var(--color-bg_alpha);
		color: var(--color-text-alt_inactive);
		& .icon {
			color: var(--color-text-dark_inactive);
		}
	}
	&:disabled:not(:active) {
		cursor: default;
	}

	&.error:not(:active) {
		background-color: var(--color-red_alpha_stacked);
		color: var(--color-red_alpha);
	}
}

.item-list.button-list > * {
	--size: 100px;
	flex: 0 0 auto;
}
