@import "../includes/variables.scss";
@import "../includes/mixins.scss";

.weather {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.weather-now {
	text-align: center;
	// align-self: center;
	flex: 0 0 40%;
	max-width: 40%;

	.temperature {
		font-weight: bold;
		font-size: var(--font-size-large);
	}

	div,
	b {
		display: block;
	}

	div {
		line-height: 0.5;
	}

	img {
		max-width: 100%;
	}
}

.weather-day {
	text-align: center;
	flex: 0 0 30%;
	max-width: 30%;

	div,
	b {
		display: block;
	}

	div {
		line-height: 1.2;
	}

	img {
		max-width: 100%;
	}
}
