@import "../includes/variables.scss";

button {
	display: inline-block;
	font-family: inherit;
	line-height: 1;
	border: none;
	padding: var(--spacing);
	margin: 0;
	text-decoration: none;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button:hover:not(.disabled) {
	filter: brightness(110%) saturate(140%);
}

button.icon-button {
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;

	& > .child {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding: var(--spacing);

		display: flex;
		flex-flow: column nowrap;

		& > .icon {
			flex: 2 0 auto;
		}
		& > .label {
			flex: 0 1 auto;
		}
	}

	// Variants:
	background-color: var(--color-bg_alpha_stacked);
	color: white;

	&.active {
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.85);
		background-color: var(--color-green_alpha);
		& .icon {
			color: white;
			filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.85));
		}
	}

	&.inactive {
		background-color: var(--color-bg_alpha);
		color: var(--color-text-alt_inactive);
		& .icon {
			color: var(--color-text-dark_inactive);
		}
	}

	&.error {
		background-color: var(--color-red_alpha_stacked);
		color: var(--color-red_alpha);
	}
}
