@import "../includes/variables.scss";
@import "../includes/mixins.scss";

aside {
	display: block;
	grid-column: 1 / span 3;
	width: 100%;
	@include panel-background;

	padding: var(--row-gutter) var(--spacing);
	// padding-top: calc(var(--row-height) + var(--row-gutter));

	& > h2 {
		display: block;
		font-weight: normal;
		font-size: var(--font-size-large);
		@include section-header-background();
		margin: 0 calc(-1 * var(--spacing)) var(--spacing);
		padding: 0 var(--spacing);
	}
}
