@import "./includes/variables.scss";

@font-face {
	font-family: "Saira Condensed";
	src: url("../assets/SairaCondensed-Light.ttf") format("truetype");
}

* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 960px;
	user-select: none;
	overflow: hidden;
}

body {
	background: var(--color-bg) url(../assets/background.jpg) top center no-repeat;
	background-size: cover;
}

.content-wrapper {
	margin: 0 auto;
	// margin-top: calc(-1 * var(--row-height));
	width: 940px;
	height: 100%;

	display: grid;
	grid-template-columns: [start] repeat(3, 1fr) [content-start] repeat(9, 1fr) [end];
	column-gap: 20px;
}

.item-list {
	display: flex;
	flex-flow: row wrap;
	& > * {
		margin-right: var(--spacing);
		margin-bottom: var(--spacing);
	}
}

@import "./components/typography.scss";
@import "./components/button.scss";
@import "./components/main.scss";
@import "./components/sidebar.scss";
@import "./components/clock.scss";
@import "./components/navigation.scss";
@import "./components/dialog.scss";
@import "./components/slider.scss";
@import "./components/thermostat.scss";
@import "./components/icons.scss";
@import "./components/image.scss";
@import "./components/weather.scss";
